/* Default message for browsers that do not support :has() */
.support::before {
  content: "Your browser does not support some advanced features (':has()' is not supported).";
  display: block;
}

/* Change the message for browsers that support :has() */
@supports (selector(:has(*))) {
  .support::before {
    content: "Great! Your browser supports advanced features (':has()' is supported).";
  }
}