/* MARK: MENUS
*/
label[for='oneMenu'] {
  position: relative;
}

label[for='oneMenu']:hover menu {
  display: grid;
}

menu {
  position: absolute;
  top: 20px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

menu li {
  list-style: none;
  display: grid;
}