html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

stars-1 {
  display: block;
  width: 0.0625rem;
  height: 0.0625rem;
  background: transparent;
  box-shadow: 738px 1628px #fff, 496px 1086px #fff, 638px 709px #fff,
    1424px 1853px #fff, 1261px 1485px #fff, 1902px 179px #fff,
    1518px 1443px #fff, 294px 740px #fff, 579px 1173px #fff, 1230px 784px #fff,
    1853px 850px #fff, 1379px 619px #fff, 1229px 1129px #fff, 122px 153px #fff,
    1757px 502px #fff, 724px 9px #fff, 706px 1846px #fff, 160px 1798px #fff,
    1370px 959px #fff, 1569px 294px #fff, 1139px 936px #fff, 332px 1282px #fff,
    167px 1925px #fff, 1493px 611px #fff, 1496px 688px #fff, 1633px 1350px #fff,
    1097px 1799px #fff, 1254px 566px #fff, 423px 831px #fff, 1925px 560px #fff,
    305px 1661px #fff, 1898px 19px #fff, 1997px 1855px #fff, 1093px 1021px #fff,
    1000px 1912px #fff, 1344px 1584px #fff, 727px 1269px #fff, 1808px 971px #fff,
    1911px 951px #fff, 193px 676px #fff, 509px 960px #fff, 542px 1413px #fff,
    1664px 1869px #fff, 1638px 1507px #fff, 1232px 450px #fff, 1825px 292px #fff,
    586px 220px #fff, 302px 1605px #fff, 483px 589px #fff, 747px 1351px #fff,
    387px 1474px #fff, 1113px 1454px #fff, 1341px 894px #fff, 1923px 1750px #fff,
    581px 1403px #fff, 1052px 1325px #fff, 775px 1247px #fff, 1327px 132px #fff,
    309px 816px #fff, 657px 40px #fff, 1959px 587px #fff, 86px 994px #fff,
    341px 1226px #fff, 493px 1290px #fff, 21px 260px #fff, 937px 451px #fff,
    1865px 337px #fff, 1513px 656px #fff, 1637px 1456px #fff, 1163px 1351px #fff,
    360px 820px #fff, 953px 663px #fff, 1264px 653px #fff, 1379px 1474px #fff,
    927px 639px #fff, 1764px 1561px #fff, 1812px 1243px #fff, 1449px 412px #fff,
    446px 1477px #fff, 1840px 429px #fff, 363px 973px #fff, 1573px 1155px #fff,
    812px 972px #fff, 475px 1203px #fff, 254px 251px #fff, 347px 1888px #fff,
    568px 713px #fff, 1591px 1573px #fff, 1683px 1322px #fff, 1792px 519px #fff,
    543px 1981px #fff, 455px 1731px #fff, 1433px 38px #fff, 313px 769px #fff,
    211px 1346px #fff, 252px 1926px #fff, 1389px 878px #fff, 686px 1863px #fff,
    1427px 473px #fff, 1703px 15px #fff, 632px 763px #fff, 808px 1072px #fff,
    1177px 734px #fff, 665px 145px #fff, 1677px 404px #fff, 1544px 370px #fff,
    1586px 1359px #fff, 1904px 378px #fff, 65px 1434px #fff, 1325px 470px #fff,
    1184px 488px #fff, 1756px 1520px #fff, 500px 1037px #fff, 208px 22px #fff,
    233px 510px #fff, 1859px 1782px #fff, 1336px 975px #fff, 427px 842px #fff,
    960px 920px #fff, 1748px 1412px #fff, 1135px 782px #fff, 379px 1804px #fff,
    1955px 1587px #fff, 440px 1198px #fff, 1032px 1274px #fff, 774px 467px #fff,
    728px 1929px #fff, 170px 1871px #fff, 605px 1525px #fff, 1856px 758px #fff,
    1995px 1438px #fff, 800px 676px #fff, 406px 140px #fff, 1614px 269px #fff,
    342px 701px #fff, 816px 711px #fff, 625px 393px #fff, 1393px 15px #fff,
    1561px 1629px #fff, 678px 574px #fff, 1528px 1335px #fff, 1333px 376px #fff,
    1446px 1878px #fff, 690px 218px #fff, 1704px 350px #fff, 6px 1110px #fff,
    946px 248px #fff, 1726px 1030px #fff, 407px 1120px #fff, 293px 741px #fff,
    1378px 743px #fff, 1984px 1691px #fff, 300px 1144px #fff, 288px 472px #fff,
    1954px 1359px #fff, 1157px 1022px #fff, 452px 932px #fff, 554px 503px #fff,
    983px 1718px #fff, 38px 1067px #fff, 204px 1834px #fff, 585px 235px #fff,
    1203px 1236px #fff, 281px 1797px #fff, 669px 1700px #fff, 1825px 1304px #fff,
    1131px 1109px #fff, 1390px 632px #fff, 1039px 1779px #fff,
    1770px 1037px #fff, 770px 1183px #fff, 750px 1907px #fff, 1952px 452px #fff,
    1990px 334px #fff, 555px 1308px #fff, 73px 1143px #fff, 470px 1032px #fff,
    735px 1647px #fff, 373px 1322px #fff, 1437px 58px #fff, 1586px 1739px #fff,
    1342px 792px #fff, 601px 1357px #fff, 999px 56px #fff, 1956px 539px #fff,
    1903px 88px #fff, 759px 78px #fff, 1351px 1840px #fff, 661px 1901px #fff,
    1364px 1451px #fff, 1010px 1181px #fff, 455px 151px #fff, 876px 501px #fff,
    229px 1846px #fff, 657px 1606px #fff, 1691px 569px #fff, 1003px 1927px #fff,
    1299px 1037px #fff, 1608px 1882px #fff, 1681px 197px #fff,
    1186px 1125px #fff, 459px 257px #fff, 457px 992px #fff, 898px 853px #fff,
    269px 1949px #fff, 583px 956px #fff, 447px 1794px #fff, 946px 8px #fff,
    365px 1129px #fff, 1528px 843px #fff, 336px 755px #fff, 1320px 18px #fff,
    499px 1358px #fff, 1946px 594px #fff, 1977px 912px #fff, 1305px 1741px #fff,
    1976px 303px #fff, 71px 887px #fff, 1449px 1601px #fff, 1508px 193px #fff,
    1964px 1233px #fff, 447px 574px #fff, 824px 879px #fff, 843px 1183px #fff,
    95px 1822px #fff, 583px 1142px #fff, 1662px 608px #fff, 563px 464px #fff,
    103px 1891px #fff, 1592px 972px #fff, 1411px 472px #fff, 743px 349px #fff,
    890px 1030px #fff, 744px 1252px #fff, 1433px 351px #fff, 1594px 193px #fff,
    1742px 827px #fff, 1927px 1843px #fff, 229px 674px #fff, 642px 1512px #fff,
    1019px 1369px #fff, 551px 1260px #fff, 1801px 1737px #fff,
    1268px 1015px #fff, 739px 311px #fff, 455px 1315px #fff, 1809px 1137px #fff,
    667px 1486px #fff, 821px 1320px #fff, 775px 351px #fff, 1458px 1750px #fff,
    533px 820px #fff, 1967px 1159px #fff, 1968px 1728px #fff, 1556px 258px #fff,
    924px 553px #fff, 124px 530px #fff, 1094px 1064px #fff, 1116px 83px #fff,
    1546px 297px #fff, 154px 1784px #fff, 1613px 774px #fff, 523px 855px #fff,
    442px 668px #fff, 1702px 425px #fff, 1752px 1670px #fff, 669px 1309px #fff,
    613px 841px #fff, 1460px 1757px #fff, 849px 1668px #fff, 1513px 1051px #fff,
    108px 648px #fff, 749px 241px #fff, 1851px 885px #fff, 1530px 1589px #fff,
    461px 84px #fff, 1734px 1524px #fff, 1626px 1790px #fff, 371px 384px #fff,
    1809px 1481px #fff, 781px 1749px #fff, 641px 662px #fff, 390px 1714px #fff,
    1508px 1132px #fff, 1638px 703px #fff, 336px 1019px #fff, 1274px 545px #fff,
    1968px 1135px #fff, 363px 713px #fff, 1944px 1960px #fff, 491px 74px #fff,
    1175px 1606px #fff, 275px 147px #fff, 1892px 708px #fff, 1748px 1669px #fff,
    1435px 559px #fff, 107px 1370px #fff, 569px 1863px #fff, 628px 150px #fff,
    768px 1778px #fff, 1731px 1523px #fff, 1469px 1797px #fff, 1016px 230px #fff,
    444px 1602px #fff, 616px 902px #fff, 1936px 1249px #fff, 271px 874px #fff,
    1911px 1287px #fff, 1146px 1717px #fff, 997px 1633px #fff, 660px 723px #fff,
    720px 1008px #fff, 1701px 1694px #fff, 1454px 622px #fff, 1814px 1521px #fff,
    978px 139px #fff, 1699px 28px #fff, 655px 1711px #fff, 1985px 1111px #fff,
    904px 688px #fff, 137px 1067px #fff, 55px 1467px #fff, 1257px 404px #fff,
    960px 663px #fff, 726px 1839px #fff, 1693px 1838px #fff, 244px 405px #fff,
    1091px 986px #fff, 300px 303px #fff, 1624px 1226px #fff, 878px 401px #fff,
    1515px 1978px #fff, 1760px 1079px #fff, 1856px 1406px #fff, 154px 362px #fff,
    329px 1598px #fff, 1159px 2000px #fff, 720px 1812px #fff, 51px 901px #fff,
    1373px 1225px #fff, 1570px 1162px #fff, 99px 821px #fff, 498px 1549px #fff,
    1431px 1907px #fff, 1326px 305px #fff, 343px 462px #fff, 1873px 697px #fff,
    342px 812px #fff, 151px 1574px #fff, 590px 12px #fff, 1907px 207px #fff,
    187px 1428px #fff, 782px 82px #fff, 1905px 631px #fff, 1879px 895px #fff,
    600px 1367px #fff, 1011px 1784px #fff, 1343px 721px #fff, 1120px 38px #fff,
    43px 635px #fff, 1225px 1949px #fff, 53px 876px #fff, 593px 1525px #fff,
    735px 656px #fff, 707px 465px #fff, 795px 842px #fff, 493px 1667px #fff,
    874px 1221px #fff, 784px 682px #fff, 853px 835px #fff, 192px 834px #fff,
    93px 1857px #fff, 1750px 408px #fff, 1708px 543px #fff, 1391px 758px #fff,
    1812px 815px #fff, 737px 678px #fff, 2px 1252px #fff, 323px 343px #fff,
    37px 370px #fff, 148px 707px #fff, 1570px 765px #fff, 222px 1545px #fff,
    164px 1351px #fff, 1992px 1879px #fff, 1845px 682px #fff, 318px 1139px #fff,
    1489px 1946px #fff, 1993px 163px #fff, 1076px 655px #fff, 961px 172px #fff,
    1757px 171px #fff, 1311px 1245px #fff, 1008px 1733px #fff, 90px 1556px #fff,
    664px 1895px #fff, 348px 1398px #fff, 259px 619px #fff, 1640px 803px #fff,
    1029px 1803px #fff, 1564px 1614px #fff, 652px 1198px #fff, 919px 1627px #fff,
    1467px 1388px #fff, 22px 1039px #fff, 494px 564px #fff, 957px 767px #fff,
    926px 1595px #fff, 1237px 1976px #fff, 518px 1392px #fff, 1468px 935px #fff,
    1121px 936px #fff, 779px 1500px #fff, 252px 551px #fff, 1121px 774px #fff,
    527px 1107px #fff, 1394px 1303px #fff, 1823px 1747px #fff,
    1213px 1365px #fff, 33px 1687px #fff, 210px 1561px #fff, 1160px 1068px #fff,
    1711px 1619px #fff, 622px 1560px #fff, 1042px 312px #fff, 1212px 666px #fff,
    500px 899px #fff, 1991px 1464px #fff, 1250px 1929px #fff, 1452px 914px #fff,
    1011px 936px #fff, 1533px 83px #fff, 709px 1195px #fff, 1471px 1505px #fff,
    529px 1642px #fff, 1497px 230px #fff, 1460px 99px #fff, 1498px 1937px #fff,
    1813px 1964px #fff, 673px 571px #fff, 741px 147px #fff, 884px 886px #fff,
    579px 1005px #fff, 1120px 1218px #fff, 1193px 799px #fff, 328px 521px #fff,
    786px 211px #fff, 1354px 1567px #fff, 783px 1519px #fff, 945px 1461px #fff,
    831px 1041px #fff, 1753px 1996px #fff, 1992px 607px #fff, 261px 108px #fff,
    49px 688px #fff, 593px 451px #fff, 1379px 1340px #fff, 612px 34px #fff,
    230px 165px #fff, 207px 756px #fff, 1207px 1733px #fff, 1224px 27px #fff,
    556px 982px #fff, 528px 164px #fff, 1958px 952px #fff, 904px 1291px #fff,
    820px 602px #fff, 986px 1891px #fff, 1840px 551px #fff, 1998px 1748px #fff,
    670px 196px #fff, 1503px 1882px #fff, 1336px 536px #fff, 1701px 1771px #fff,
    1058px 1215px #fff, 1096px 734px #fff, 1955px 1578px #fff, 264px 1961px #fff,
    110px 1752px #fff, 775px 118px #fff, 155px 11px #fff, 951px 638px #fff,
    1132px 393px #fff, 956px 1590px #fff, 748px 182px #fff, 1671px 256px #fff,
    1758px 1557px #fff, 1413px 1763px #fff, 1633px 1154px #fff,
    1242px 1405px #fff, 1114px 1017px #fff, 818px 96px #fff, 751px 1261px #fff,
    936px 534px #fff, 1630px 1649px #fff, 605px 825px #fff, 975px 1153px #fff,
    659px 1256px #fff, 1053px 491px #fff, 1737px 315px #fff, 164px 1668px #fff,
    1536px 1741px #fff, 725px 1764px #fff, 262px 1947px #fff, 1351px 472px #fff,
    1419px 1570px #fff, 99px 903px #fff, 1815px 1380px #fff, 528px 993px #fff,
    538px 1133px #fff, 972px 1938px #fff, 342px 1115px #fff, 640px 797px #fff,
    599px 829px #fff, 1295px 964px #fff, 1919px 452px #fff, 489px 1509px #fff,
    1809px 670px #fff, 1370px 1548px #fff, 1382px 346px #fff, 257px 872px #fff,
    469px 1163px #fff, 1424px 1720px #fff, 330px 594px #fff, 36px 1283px #fff,
    1373px 291px #fff, 1540px 1789px #fff, 1843px 1818px #fff, 1070px 480px #fff,
    1124px 1344px #fff, 428px 952px #fff, 921px 20px #fff, 926px 668px #fff,
    534px 1553px #fff, 1109px 507px #fff, 333px 569px #fff, 312px 1006px #fff,
    653px 178px #fff, 1672px 1131px #fff, 591px 577px #fff, 1962px 1650px #fff,
    719px 967px #fff, 809px 1663px #fff, 1751px 967px #fff, 1694px 266px #fff,
    969px 1224px #fff, 1261px 200px #fff, 844px 1272px #fff, 1383px 979px #fff,
    1379px 946px #fff, 470px 1865px #fff, 106px 266px #fff, 1801px 1154px #fff,
    1684px 1307px #fff, 778px 1987px #fff, 1616px 1871px #fff,
    1974px 1905px #fff, 269px 1460px #fff, 175px 240px #fff, 289px 1461px #fff,
    596px 995px #fff, 456px 492px #fff, 1484px 929px #fff, 189px 990px #fff,
    1437px 1624px #fff, 686px 838px #fff, 1326px 1369px #fff, 1190px 1422px #fff,
    1756px 126px #fff, 504px 859px #fff, 776px 863px #fff, 441px 1601px #fff,
    1839px 1117px #fff, 786px 47px #fff, 878px 760px #fff, 907px 1281px #fff,
    1251px 214px #fff, 1213px 1848px #fff, 715px 859px #fff, 1265px 1366px #fff,
    1067px 1894px #fff, 1747px 153px #fff, 1159px 1690px #fff, 100px 426px #fff,
    1691px 302px #fff, 1881px 55px #fff, 650px 1221px #fff, 503px 1248px #fff,
    1119px 1127px #fff, 1013px 1966px #fff, 167px 880px #fff, 1090px 1516px #fff,
    1807px 1166px #fff, 877px 178px #fff, 1451px 829px #fff, 306px 1358px #fff,
    568px 1169px #fff, 158px 997px #fff, 357px 388px #fff, 1976px 1639px #fff,
    279px 993px #fff, 1773px 325px #fff, 1169px 1726px #fff, 1542px 1170px #fff,
    747px 1028px #fff, 896px 1871px #fff, 1048px 833px #fff, 1692px 1100px #fff,
    300px 1386px #fff, 1037px 886px #fff, 221px 1493px #fff, 446px 116px #fff,
    18px 993px #fff, 1327px 685px #fff, 1479px 900px #fff, 1439px 753px #fff,
    38px 68px #fff, 1349px 1862px #fff, 1537px 133px #fff, 374px 651px #fff,
    535px 1030px #fff, 762px 1433px #fff, 1892px 1064px #fff, 912px 1714px #fff,
    439px 1178px #fff, 1111px 532px #fff, 963px 293px #fff, 1839px 1925px #fff,
    381px 945px #fff, 1336px 1266px #fff, 1734px 1923px #fff, 705px 1496px #fff,
    1196px 1293px #fff, 1891px 1526px #fff, 1643px 1091px #fff,
    1856px 1205px #fff, 1462px 430px #fff, 1059px 1859px #fff, 308px 1339px #fff,
    630px 117px #fff, 1376px 1850px #fff, 11px 1083px #fff, 1712px 1512px #fff,
    834px 679px #fff, 1476px 1596px #fff, 641px 1437px #fff, 884px 968px #fff,
    1380px 1533px #fff, 1240px 560px #fff, 1058px 770px #fff, 1317px 1824px #fff,
    1357px 767px #fff, 1726px 71px #fff, 810px 1579px #fff, 1562px 289px #fff,
    101px 417px #fff, 614px 1645px #fff, 326px 1665px #fff, 1992px 1759px #fff,
    1697px 1131px #fff, 1441px 346px #fff, 646px 1786px #fff, 1951px 936px #fff,
    1625px 1481px #fff, 288px 234px #fff, 1780px 248px #fff, 263px 625px #fff,
    554px 938px #fff, 1619px 129px #fff, 502px 856px #fff, 1815px 1404px #fff,
    1701px 318px #fff, 482px 1175px #fff, 764px 523px #fff, 1706px 1978px #fff,
    105px 785px #fff, 1308px 1287px #fff, 1737px 470px #fff, 1673px 1371px #fff,
    247px 1867px #fff, 733px 1588px #fff, 1958px 1459px #fff, 1131px 1141px #fff,
    256px 564px #fff, 444px 689px #fff, 1651px 1622px #fff, 128px 812px #fff,
    1215px 539px #fff, 1330px 1618px #fff, 104px 1222px #fff, 561px 1182px #fff,
    836px 116px #fff, 1765px 8px #fff, 388px 1856px #fff, 202px 216px #fff,
    1571px 537px #fff, 1577px 1495px #fff, 127px 435px #fff, 126px 691px #fff,
    1701px 618px #fff;
  animation: animStar 50s linear infinite;
}

stars-1::after {
  display: block;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 0.0625rem;
  height: 0.0625rem;
  background: transparent;
  box-shadow: 738px 1628px #fff, 496px 1086px #fff, 638px 709px #fff,
    1424px 1853px #fff, 1261px 1485px #fff, 1902px 179px #fff,
    1518px 1443px #fff, 294px 740px #fff, 579px 1173px #fff, 1230px 784px #fff,
    1853px 850px #fff, 1379px 619px #fff, 1229px 1129px #fff, 122px 153px #fff,
    1757px 502px #fff, 724px 9px #fff, 706px 1846px #fff, 160px 1798px #fff,
    1370px 959px #fff, 1569px 294px #fff, 1139px 936px #fff, 332px 1282px #fff,
    167px 1925px #fff, 1493px 611px #fff, 1496px 688px #fff, 1633px 1350px #fff,
    1097px 1799px #fff, 1254px 566px #fff, 423px 831px #fff, 1925px 560px #fff,
    305px 1661px #fff, 1898px 19px #fff, 1997px 1855px #fff, 1093px 1021px #fff,
    1000px 1912px #fff, 1344px 1584px #fff, 727px 1269px #fff, 1808px 971px #fff,
    1911px 951px #fff, 193px 676px #fff, 509px 960px #fff, 542px 1413px #fff,
    1664px 1869px #fff, 1638px 1507px #fff, 1232px 450px #fff, 1825px 292px #fff,
    586px 220px #fff, 302px 1605px #fff, 483px 589px #fff, 747px 1351px #fff,
    387px 1474px #fff, 1113px 1454px #fff, 1341px 894px #fff, 1923px 1750px #fff,
    581px 1403px #fff, 1052px 1325px #fff, 775px 1247px #fff, 1327px 132px #fff,
    309px 816px #fff, 657px 40px #fff, 1959px 587px #fff, 86px 994px #fff,
    341px 1226px #fff, 493px 1290px #fff, 21px 260px #fff, 937px 451px #fff,
    1865px 337px #fff, 1513px 656px #fff, 1637px 1456px #fff, 1163px 1351px #fff,
    360px 820px #fff, 953px 663px #fff, 1264px 653px #fff, 1379px 1474px #fff,
    927px 639px #fff, 1764px 1561px #fff, 1812px 1243px #fff, 1449px 412px #fff,
    446px 1477px #fff, 1840px 429px #fff, 363px 973px #fff, 1573px 1155px #fff,
    812px 972px #fff, 475px 1203px #fff, 254px 251px #fff, 347px 1888px #fff,
    568px 713px #fff, 1591px 1573px #fff, 1683px 1322px #fff, 1792px 519px #fff,
    543px 1981px #fff, 455px 1731px #fff, 1433px 38px #fff, 313px 769px #fff,
    211px 1346px #fff, 252px 1926px #fff, 1389px 878px #fff, 686px 1863px #fff,
    1427px 473px #fff, 1703px 15px #fff, 632px 763px #fff, 808px 1072px #fff,
    1177px 734px #fff, 665px 145px #fff, 1677px 404px #fff, 1544px 370px #fff,
    1586px 1359px #fff, 1904px 378px #fff, 65px 1434px #fff, 1325px 470px #fff,
    1184px 488px #fff, 1756px 1520px #fff, 500px 1037px #fff, 208px 22px #fff,
    233px 510px #fff, 1859px 1782px #fff, 1336px 975px #fff, 427px 842px #fff,
    960px 920px #fff, 1748px 1412px #fff, 1135px 782px #fff, 379px 1804px #fff,
    1955px 1587px #fff, 440px 1198px #fff, 1032px 1274px #fff, 774px 467px #fff,
    728px 1929px #fff, 170px 1871px #fff, 605px 1525px #fff, 1856px 758px #fff,
    1995px 1438px #fff, 800px 676px #fff, 406px 140px #fff, 1614px 269px #fff,
    342px 701px #fff, 816px 711px #fff, 625px 393px #fff, 1393px 15px #fff,
    1561px 1629px #fff, 678px 574px #fff, 1528px 1335px #fff, 1333px 376px #fff,
    1446px 1878px #fff, 690px 218px #fff, 1704px 350px #fff, 6px 1110px #fff,
    946px 248px #fff, 1726px 1030px #fff, 407px 1120px #fff, 293px 741px #fff,
    1378px 743px #fff, 1984px 1691px #fff, 300px 1144px #fff, 288px 472px #fff,
    1954px 1359px #fff, 1157px 1022px #fff, 452px 932px #fff, 554px 503px #fff,
    983px 1718px #fff, 38px 1067px #fff, 204px 1834px #fff, 585px 235px #fff,
    1203px 1236px #fff, 281px 1797px #fff, 669px 1700px #fff, 1825px 1304px #fff,
    1131px 1109px #fff, 1390px 632px #fff, 1039px 1779px #fff,
    1770px 1037px #fff, 770px 1183px #fff, 750px 1907px #fff, 1952px 452px #fff,
    1990px 334px #fff, 555px 1308px #fff, 73px 1143px #fff, 470px 1032px #fff,
    735px 1647px #fff, 373px 1322px #fff, 1437px 58px #fff, 1586px 1739px #fff,
    1342px 792px #fff, 601px 1357px #fff, 999px 56px #fff, 1956px 539px #fff,
    1903px 88px #fff, 759px 78px #fff, 1351px 1840px #fff, 661px 1901px #fff,
    1364px 1451px #fff, 1010px 1181px #fff, 455px 151px #fff, 876px 501px #fff,
    229px 1846px #fff, 657px 1606px #fff, 1691px 569px #fff, 1003px 1927px #fff,
    1299px 1037px #fff, 1608px 1882px #fff, 1681px 197px #fff,
    1186px 1125px #fff, 459px 257px #fff, 457px 992px #fff, 898px 853px #fff,
    269px 1949px #fff, 583px 956px #fff, 447px 1794px #fff, 946px 8px #fff,
    365px 1129px #fff, 1528px 843px #fff, 336px 755px #fff, 1320px 18px #fff,
    499px 1358px #fff, 1946px 594px #fff, 1977px 912px #fff, 1305px 1741px #fff,
    1976px 303px #fff, 71px 887px #fff, 1449px 1601px #fff, 1508px 193px #fff,
    1964px 1233px #fff, 447px 574px #fff, 824px 879px #fff, 843px 1183px #fff,
    95px 1822px #fff, 583px 1142px #fff, 1662px 608px #fff, 563px 464px #fff,
    103px 1891px #fff, 1592px 972px #fff, 1411px 472px #fff, 743px 349px #fff,
    890px 1030px #fff, 744px 1252px #fff, 1433px 351px #fff, 1594px 193px #fff,
    1742px 827px #fff, 1927px 1843px #fff, 229px 674px #fff, 642px 1512px #fff,
    1019px 1369px #fff, 551px 1260px #fff, 1801px 1737px #fff,
    1268px 1015px #fff, 739px 311px #fff, 455px 1315px #fff, 1809px 1137px #fff,
    667px 1486px #fff, 821px 1320px #fff, 775px 351px #fff, 1458px 1750px #fff,
    533px 820px #fff, 1967px 1159px #fff, 1968px 1728px #fff, 1556px 258px #fff,
    924px 553px #fff, 124px 530px #fff, 1094px 1064px #fff, 1116px 83px #fff,
    1546px 297px #fff, 154px 1784px #fff, 1613px 774px #fff, 523px 855px #fff,
    442px 668px #fff, 1702px 425px #fff, 1752px 1670px #fff, 669px 1309px #fff,
    613px 841px #fff, 1460px 1757px #fff, 849px 1668px #fff, 1513px 1051px #fff,
    108px 648px #fff, 749px 241px #fff, 1851px 885px #fff, 1530px 1589px #fff,
    461px 84px #fff, 1734px 1524px #fff, 1626px 1790px #fff, 371px 384px #fff,
    1809px 1481px #fff, 781px 1749px #fff, 641px 662px #fff, 390px 1714px #fff,
    1508px 1132px #fff, 1638px 703px #fff, 336px 1019px #fff, 1274px 545px #fff,
    1968px 1135px #fff, 363px 713px #fff, 1944px 1960px #fff, 491px 74px #fff,
    1175px 1606px #fff, 275px 147px #fff, 1892px 708px #fff, 1748px 1669px #fff,
    1435px 559px #fff, 107px 1370px #fff, 569px 1863px #fff, 628px 150px #fff,
    768px 1778px #fff, 1731px 1523px #fff, 1469px 1797px #fff, 1016px 230px #fff,
    444px 1602px #fff, 616px 902px #fff, 1936px 1249px #fff, 271px 874px #fff,
    1911px 1287px #fff, 1146px 1717px #fff, 997px 1633px #fff, 660px 723px #fff,
    720px 1008px #fff, 1701px 1694px #fff, 1454px 622px #fff, 1814px 1521px #fff,
    978px 139px #fff, 1699px 28px #fff, 655px 1711px #fff, 1985px 1111px #fff,
    904px 688px #fff, 137px 1067px #fff, 55px 1467px #fff, 1257px 404px #fff,
    960px 663px #fff, 726px 1839px #fff, 1693px 1838px #fff, 244px 405px #fff,
    1091px 986px #fff, 300px 303px #fff, 1624px 1226px #fff, 878px 401px #fff,
    1515px 1978px #fff, 1760px 1079px #fff, 1856px 1406px #fff, 154px 362px #fff,
    329px 1598px #fff, 1159px 2000px #fff, 720px 1812px #fff, 51px 901px #fff,
    1373px 1225px #fff, 1570px 1162px #fff, 99px 821px #fff, 498px 1549px #fff,
    1431px 1907px #fff, 1326px 305px #fff, 343px 462px #fff, 1873px 697px #fff,
    342px 812px #fff, 151px 1574px #fff, 590px 12px #fff, 1907px 207px #fff,
    187px 1428px #fff, 782px 82px #fff, 1905px 631px #fff, 1879px 895px #fff,
    600px 1367px #fff, 1011px 1784px #fff, 1343px 721px #fff, 1120px 38px #fff,
    43px 635px #fff, 1225px 1949px #fff, 53px 876px #fff, 593px 1525px #fff,
    735px 656px #fff, 707px 465px #fff, 795px 842px #fff, 493px 1667px #fff,
    874px 1221px #fff, 784px 682px #fff, 853px 835px #fff, 192px 834px #fff,
    93px 1857px #fff, 1750px 408px #fff, 1708px 543px #fff, 1391px 758px #fff,
    1812px 815px #fff, 737px 678px #fff, 2px 1252px #fff, 323px 343px #fff,
    37px 370px #fff, 148px 707px #fff, 1570px 765px #fff, 222px 1545px #fff,
    164px 1351px #fff, 1992px 1879px #fff, 1845px 682px #fff, 318px 1139px #fff,
    1489px 1946px #fff, 1993px 163px #fff, 1076px 655px #fff, 961px 172px #fff,
    1757px 171px #fff, 1311px 1245px #fff, 1008px 1733px #fff, 90px 1556px #fff,
    664px 1895px #fff, 348px 1398px #fff, 259px 619px #fff, 1640px 803px #fff,
    1029px 1803px #fff, 1564px 1614px #fff, 652px 1198px #fff, 919px 1627px #fff,
    1467px 1388px #fff, 22px 1039px #fff, 494px 564px #fff, 957px 767px #fff,
    926px 1595px #fff, 1237px 1976px #fff, 518px 1392px #fff, 1468px 935px #fff,
    1121px 936px #fff, 779px 1500px #fff, 252px 551px #fff, 1121px 774px #fff,
    527px 1107px #fff, 1394px 1303px #fff, 1823px 1747px #fff,
    1213px 1365px #fff, 33px 1687px #fff, 210px 1561px #fff, 1160px 1068px #fff,
    1711px 1619px #fff, 622px 1560px #fff, 1042px 312px #fff, 1212px 666px #fff,
    500px 899px #fff, 1991px 1464px #fff, 1250px 1929px #fff, 1452px 914px #fff,
    1011px 936px #fff, 1533px 83px #fff, 709px 1195px #fff, 1471px 1505px #fff,
    529px 1642px #fff, 1497px 230px #fff, 1460px 99px #fff, 1498px 1937px #fff,
    1813px 1964px #fff, 673px 571px #fff, 741px 147px #fff, 884px 886px #fff,
    579px 1005px #fff, 1120px 1218px #fff, 1193px 799px #fff, 328px 521px #fff,
    786px 211px #fff, 1354px 1567px #fff, 783px 1519px #fff, 945px 1461px #fff,
    831px 1041px #fff, 1753px 1996px #fff, 1992px 607px #fff, 261px 108px #fff,
    49px 688px #fff, 593px 451px #fff, 1379px 1340px #fff, 612px 34px #fff,
    230px 165px #fff, 207px 756px #fff, 1207px 1733px #fff, 1224px 27px #fff,
    556px 982px #fff, 528px 164px #fff, 1958px 952px #fff, 904px 1291px #fff,
    820px 602px #fff, 986px 1891px #fff, 1840px 551px #fff, 1998px 1748px #fff,
    670px 196px #fff, 1503px 1882px #fff, 1336px 536px #fff, 1701px 1771px #fff,
    1058px 1215px #fff, 1096px 734px #fff, 1955px 1578px #fff, 264px 1961px #fff,
    110px 1752px #fff, 775px 118px #fff, 155px 11px #fff, 951px 638px #fff,
    1132px 393px #fff, 956px 1590px #fff, 748px 182px #fff, 1671px 256px #fff,
    1758px 1557px #fff, 1413px 1763px #fff, 1633px 1154px #fff,
    1242px 1405px #fff, 1114px 1017px #fff, 818px 96px #fff, 751px 1261px #fff,
    936px 534px #fff, 1630px 1649px #fff, 605px 825px #fff, 975px 1153px #fff,
    659px 1256px #fff, 1053px 491px #fff, 1737px 315px #fff, 164px 1668px #fff,
    1536px 1741px #fff, 725px 1764px #fff, 262px 1947px #fff, 1351px 472px #fff,
    1419px 1570px #fff, 99px 903px #fff, 1815px 1380px #fff, 528px 993px #fff,
    538px 1133px #fff, 972px 1938px #fff, 342px 1115px #fff, 640px 797px #fff,
    599px 829px #fff, 1295px 964px #fff, 1919px 452px #fff, 489px 1509px #fff,
    1809px 670px #fff, 1370px 1548px #fff, 1382px 346px #fff, 257px 872px #fff,
    469px 1163px #fff, 1424px 1720px #fff, 330px 594px #fff, 36px 1283px #fff,
    1373px 291px #fff, 1540px 1789px #fff, 1843px 1818px #fff, 1070px 480px #fff,
    1124px 1344px #fff, 428px 952px #fff, 921px 20px #fff, 926px 668px #fff,
    534px 1553px #fff, 1109px 507px #fff, 333px 569px #fff, 312px 1006px #fff,
    653px 178px #fff, 1672px 1131px #fff, 591px 577px #fff, 1962px 1650px #fff,
    719px 967px #fff, 809px 1663px #fff, 1751px 967px #fff, 1694px 266px #fff,
    969px 1224px #fff, 1261px 200px #fff, 844px 1272px #fff, 1383px 979px #fff,
    1379px 946px #fff, 470px 1865px #fff, 106px 266px #fff, 1801px 1154px #fff,
    1684px 1307px #fff, 778px 1987px #fff, 1616px 1871px #fff,
    1974px 1905px #fff, 269px 1460px #fff, 175px 240px #fff, 289px 1461px #fff,
    596px 995px #fff, 456px 492px #fff, 1484px 929px #fff, 189px 990px #fff,
    1437px 1624px #fff, 686px 838px #fff, 1326px 1369px #fff, 1190px 1422px #fff,
    1756px 126px #fff, 504px 859px #fff, 776px 863px #fff, 441px 1601px #fff,
    1839px 1117px #fff, 786px 47px #fff, 878px 760px #fff, 907px 1281px #fff,
    1251px 214px #fff, 1213px 1848px #fff, 715px 859px #fff, 1265px 1366px #fff,
    1067px 1894px #fff, 1747px 153px #fff, 1159px 1690px #fff, 100px 426px #fff,
    1691px 302px #fff, 1881px 55px #fff, 650px 1221px #fff, 503px 1248px #fff,
    1119px 1127px #fff, 1013px 1966px #fff, 167px 880px #fff, 1090px 1516px #fff,
    1807px 1166px #fff, 877px 178px #fff, 1451px 829px #fff, 306px 1358px #fff,
    568px 1169px #fff, 158px 997px #fff, 357px 388px #fff, 1976px 1639px #fff,
    279px 993px #fff, 1773px 325px #fff, 1169px 1726px #fff, 1542px 1170px #fff,
    747px 1028px #fff, 896px 1871px #fff, 1048px 833px #fff, 1692px 1100px #fff,
    300px 1386px #fff, 1037px 886px #fff, 221px 1493px #fff, 446px 116px #fff,
    18px 993px #fff, 1327px 685px #fff, 1479px 900px #fff, 1439px 753px #fff,
    38px 68px #fff, 1349px 1862px #fff, 1537px 133px #fff, 374px 651px #fff,
    535px 1030px #fff, 762px 1433px #fff, 1892px 1064px #fff, 912px 1714px #fff,
    439px 1178px #fff, 1111px 532px #fff, 963px 293px #fff, 1839px 1925px #fff,
    381px 945px #fff, 1336px 1266px #fff, 1734px 1923px #fff, 705px 1496px #fff,
    1196px 1293px #fff, 1891px 1526px #fff, 1643px 1091px #fff,
    1856px 1205px #fff, 1462px 430px #fff, 1059px 1859px #fff, 308px 1339px #fff,
    630px 117px #fff, 1376px 1850px #fff, 11px 1083px #fff, 1712px 1512px #fff,
    834px 679px #fff, 1476px 1596px #fff, 641px 1437px #fff, 884px 968px #fff,
    1380px 1533px #fff, 1240px 560px #fff, 1058px 770px #fff, 1317px 1824px #fff,
    1357px 767px #fff, 1726px 71px #fff, 810px 1579px #fff, 1562px 289px #fff,
    101px 417px #fff, 614px 1645px #fff, 326px 1665px #fff, 1992px 1759px #fff,
    1697px 1131px #fff, 1441px 346px #fff, 646px 1786px #fff, 1951px 936px #fff,
    1625px 1481px #fff, 288px 234px #fff, 1780px 248px #fff, 263px 625px #fff,
    554px 938px #fff, 1619px 129px #fff, 502px 856px #fff, 1815px 1404px #fff,
    1701px 318px #fff, 482px 1175px #fff, 764px 523px #fff, 1706px 1978px #fff,
    105px 785px #fff, 1308px 1287px #fff, 1737px 470px #fff, 1673px 1371px #fff,
    247px 1867px #fff, 733px 1588px #fff, 1958px 1459px #fff, 1131px 1141px #fff,
    256px 564px #fff, 444px 689px #fff, 1651px 1622px #fff, 128px 812px #fff,
    1215px 539px #fff, 1330px 1618px #fff, 104px 1222px #fff, 561px 1182px #fff,
    836px 116px #fff, 1765px 8px #fff, 388px 1856px #fff, 202px 216px #fff,
    1571px 537px #fff, 1577px 1495px #fff, 127px 435px #fff, 126px 691px #fff,
    1701px 618px #fff;
}

starts-2 {
  display: block;
  width: 0.125rem;
  height: 0.125rem;
  background: transparent;
  box-shadow: 851px 1022px #fff, 931px 1852px #fff, 1853px 491px #fff,
    657px 733px #fff, 898px 806px #fff, 1751px 335px #fff, 1994px 888px #fff,
    669px 1756px #fff, 1898px 1930px #fff, 1572px 456px #fff, 773px 482px #fff,
    1754px 956px #fff, 170px 899px #fff, 620px 1330px #fff, 1725px 50px #fff,
    39px 1810px #fff, 1921px 504px #fff, 1260px 2000px #fff, 1236px 88px #fff,
    1464px 120px #fff, 273px 1323px #fff, 1718px 449px #fff, 260px 1885px #fff,
    1082px 677px #fff, 401px 560px #fff, 620px 608px #fff, 1519px 1645px #fff,
    1569px 445px #fff, 979px 1286px #fff, 916px 1869px #fff, 862px 1083px #fff,
    1773px 1566px #fff, 1854px 1025px #fff, 1543px 1511px #fff, 1875px 44px #fff,
    842px 1841px #fff, 1149px 793px #fff, 1792px 377px #fff, 1585px 701px #fff,
    1890px 169px #fff, 758px 320px #fff, 805px 331px #fff, 140px 579px #fff,
    700px 1527px #fff, 41px 1963px #fff, 901px 702px #fff, 937px 1472px #fff,
    1276px 1826px #fff, 1363px 1922px #fff, 1486px 757px #fff,
    1456px 1449px #fff, 63px 1249px #fff, 1718px 1164px #fff, 1522px 1233px #fff,
    1426px 1680px #fff, 1754px 1333px #fff, 1577px 288px #fff,
    1079px 1581px #fff, 260px 875px #fff, 780px 1651px #fff, 1421px 1813px #fff,
    1901px 260px #fff, 1441px 1762px #fff, 1307px 1066px #fff, 82px 1516px #fff,
    955px 1380px #fff, 1419px 1386px #fff, 285px 999px #fff, 820px 1976px #fff,
    974px 548px #fff, 1598px 1601px #fff, 1142px 239px #fff, 1944px 675px #fff,
    379px 1465px #fff, 1836px 872px #fff, 1960px 1190px #fff, 497px 666px #fff,
    1655px 297px #fff, 1140px 1910px #fff, 948px 1815px #fff, 1209px 447px #fff,
    656px 905px #fff, 1728px 1065px #fff, 1895px 926px #fff, 861px 314px #fff,
    1814px 1048px #fff, 1422px 1848px #fff, 1113px 1419px #fff,
    1851px 561px #fff, 837px 387px #fff, 119px 720px #fff, 1862px 217px #fff,
    924px 1226px #fff, 967px 1807px #fff, 238px 1065px #fff, 362px 977px #fff,
    1855px 285px #fff, 631px 1819px #fff, 318px 1606px #fff, 1112px 111px #fff,
    648px 1280px #fff, 1312px 866px #fff, 1260px 626px #fff, 554px 1132px #fff,
    1992px 1347px #fff, 40px 1640px #fff, 220px 26px #fff, 181px 1959px #fff,
    273px 1908px #fff, 1827px 1365px #fff, 14px 1495px #fff, 717px 1375px #fff,
    1px 1093px #fff, 160px 904px #fff, 894px 1371px #fff, 362px 918px #fff,
    592px 1162px #fff, 1675px 646px #fff, 1610px 1619px #fff, 1131px 482px #fff,
    415px 868px #fff, 1864px 1209px #fff, 1627px 708px #fff, 1481px 740px #fff,
    1329px 914px #fff, 1468px 561px #fff, 799px 1261px #fff, 411px 919px #fff,
    808px 526px #fff, 524px 42px #fff, 1081px 878px #fff, 849px 517px #fff,
    607px 1503px #fff, 1px 1369px #fff, 1179px 699px #fff, 7px 415px #fff,
    1534px 1106px #fff, 12px 1607px #fff, 402px 1629px #fff, 1615px 352px #fff,
    1406px 1807px #fff, 1984px 1862px #fff, 1094px 698px #fff,
    1196px 1904px #fff, 832px 624px #fff, 1801px 425px #fff, 237px 1925px #fff,
    313px 1848px #fff, 1280px 381px #fff, 596px 638px #fff, 1137px 131px #fff,
    33px 342px #fff, 26px 1099px #fff, 1842px 1678px #fff, 346px 1564px #fff,
    1452px 1080px #fff, 57px 1185px #fff, 1189px 925px #fff, 1571px 728px #fff,
    988px 1903px #fff, 1750px 169px #fff, 646px 52px #fff, 1404px 1306px #fff,
    1836px 179px #fff, 916px 810px #fff, 1667px 1278px #fff, 210px 1473px #fff,
    692px 1755px #fff, 530px 1273px #fff, 891px 397px #fff, 240px 338px #fff,
    1721px 704px #fff, 951px 1534px #fff, 973px 98px #fff, 1911px 1769px #fff,
    885px 1549px #fff, 116px 578px #fff, 1076px 14px #fff, 602px 142px #fff,
    794px 1444px #fff, 783px 1870px #fff, 458px 361px #fff, 1329px 875px #fff,
    1478px 1278px #fff, 1395px 1185px #fff, 1439px 1050px #fff,
    103px 1150px #fff, 506px 182px #fff, 923px 218px #fff, 1212px 1772px #fff,
    198px 617px #fff, 25px 963px #fff, 440px 928px #fff, 1468px 226px #fff,
    1498px 505px #fff, 650px 74px #fff, 864px 1767px #fff, 1612px 510px #fff,
    1061px 535px #fff, 1995px 1658px #fff;
  animation: animStar 100s linear infinite;
}

stars-2::after {
  display: block;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 0.125rem;
  height: 0.125rem;
  background: transparent;
  box-shadow: 851px 1022px #fff, 931px 1852px #fff, 1853px 491px #fff,
    657px 733px #fff, 898px 806px #fff, 1751px 335px #fff, 1994px 888px #fff,
    669px 1756px #fff, 1898px 1930px #fff, 1572px 456px #fff, 773px 482px #fff,
    1754px 956px #fff, 170px 899px #fff, 620px 1330px #fff, 1725px 50px #fff,
    39px 1810px #fff, 1921px 504px #fff, 1260px 2000px #fff, 1236px 88px #fff,
    1464px 120px #fff, 273px 1323px #fff, 1718px 449px #fff, 260px 1885px #fff,
    1082px 677px #fff, 401px 560px #fff, 620px 608px #fff, 1519px 1645px #fff,
    1569px 445px #fff, 979px 1286px #fff, 916px 1869px #fff, 862px 1083px #fff,
    1773px 1566px #fff, 1854px 1025px #fff, 1543px 1511px #fff, 1875px 44px #fff,
    842px 1841px #fff, 1149px 793px #fff, 1792px 377px #fff, 1585px 701px #fff,
    1890px 169px #fff, 758px 320px #fff, 805px 331px #fff, 140px 579px #fff,
    700px 1527px #fff, 41px 1963px #fff, 901px 702px #fff, 937px 1472px #fff,
    1276px 1826px #fff, 1363px 1922px #fff, 1486px 757px #fff,
    1456px 1449px #fff, 63px 1249px #fff, 1718px 1164px #fff, 1522px 1233px #fff,
    1426px 1680px #fff, 1754px 1333px #fff, 1577px 288px #fff,
    1079px 1581px #fff, 260px 875px #fff, 780px 1651px #fff, 1421px 1813px #fff,
    1901px 260px #fff, 1441px 1762px #fff, 1307px 1066px #fff, 82px 1516px #fff,
    955px 1380px #fff, 1419px 1386px #fff, 285px 999px #fff, 820px 1976px #fff,
    974px 548px #fff, 1598px 1601px #fff, 1142px 239px #fff, 1944px 675px #fff,
    379px 1465px #fff, 1836px 872px #fff, 1960px 1190px #fff, 497px 666px #fff,
    1655px 297px #fff, 1140px 1910px #fff, 948px 1815px #fff, 1209px 447px #fff,
    656px 905px #fff, 1728px 1065px #fff, 1895px 926px #fff, 861px 314px #fff,
    1814px 1048px #fff, 1422px 1848px #fff, 1113px 1419px #fff,
    1851px 561px #fff, 837px 387px #fff, 119px 720px #fff, 1862px 217px #fff,
    924px 1226px #fff, 967px 1807px #fff, 238px 1065px #fff, 362px 977px #fff,
    1855px 285px #fff, 631px 1819px #fff, 318px 1606px #fff, 1112px 111px #fff,
    648px 1280px #fff, 1312px 866px #fff, 1260px 626px #fff, 554px 1132px #fff,
    1992px 1347px #fff, 40px 1640px #fff, 220px 26px #fff, 181px 1959px #fff,
    273px 1908px #fff, 1827px 1365px #fff, 14px 1495px #fff, 717px 1375px #fff,
    1px 1093px #fff, 160px 904px #fff, 894px 1371px #fff, 362px 918px #fff,
    592px 1162px #fff, 1675px 646px #fff, 1610px 1619px #fff, 1131px 482px #fff,
    415px 868px #fff, 1864px 1209px #fff, 1627px 708px #fff, 1481px 740px #fff,
    1329px 914px #fff, 1468px 561px #fff, 799px 1261px #fff, 411px 919px #fff,
    808px 526px #fff, 524px 42px #fff, 1081px 878px #fff, 849px 517px #fff,
    607px 1503px #fff, 1px 1369px #fff, 1179px 699px #fff, 7px 415px #fff,
    1534px 1106px #fff, 12px 1607px #fff, 402px 1629px #fff, 1615px 352px #fff,
    1406px 1807px #fff, 1984px 1862px #fff, 1094px 698px #fff,
    1196px 1904px #fff, 832px 624px #fff, 1801px 425px #fff, 237px 1925px #fff,
    313px 1848px #fff, 1280px 381px #fff, 596px 638px #fff, 1137px 131px #fff,
    33px 342px #fff, 26px 1099px #fff, 1842px 1678px #fff, 346px 1564px #fff,
    1452px 1080px #fff, 57px 1185px #fff, 1189px 925px #fff, 1571px 728px #fff,
    988px 1903px #fff, 1750px 169px #fff, 646px 52px #fff, 1404px 1306px #fff,
    1836px 179px #fff, 916px 810px #fff, 1667px 1278px #fff, 210px 1473px #fff,
    692px 1755px #fff, 530px 1273px #fff, 891px 397px #fff, 240px 338px #fff,
    1721px 704px #fff, 951px 1534px #fff, 973px 98px #fff, 1911px 1769px #fff,
    885px 1549px #fff, 116px 578px #fff, 1076px 14px #fff, 602px 142px #fff,
    794px 1444px #fff, 783px 1870px #fff, 458px 361px #fff, 1329px 875px #fff,
    1478px 1278px #fff, 1395px 1185px #fff, 1439px 1050px #fff,
    103px 1150px #fff, 506px 182px #fff, 923px 218px #fff, 1212px 1772px #fff,
    198px 617px #fff, 25px 963px #fff, 440px 928px #fff, 1468px 226px #fff,
    1498px 505px #fff, 650px 74px #fff, 864px 1767px #fff, 1612px 510px #fff,
    1061px 535px #fff, 1995px 1658px #fff;
}

stars-3 {
  display: block;
  width: 0.1875rem;
  height: 0.1875rem;
  background: transparent;
  box-shadow: 751px 1868px #fff, 412px 1163px #fff, 1393px 1447px #fff,
    1095px 816px #fff, 1349px 1816px #fff, 1566px 715px #fff, 630px 707px #fff,
    1206px 1989px #fff, 148px 356px #fff, 961px 819px #fff, 549px 1261px #fff,
    286px 1269px #fff, 1070px 1220px #fff, 832px 782px #fff, 1281px 1007px #fff,
    1640px 1617px #fff, 183px 164px #fff, 409px 395px #fff, 636px 193px #fff,
    1209px 489px #fff, 1770px 177px #fff, 1046px 1187px #fff, 166px 1472px #fff,
    228px 1837px #fff, 1080px 1010px #fff, 1573px 364px #fff, 1355px 936px #fff,
    1045px 1629px #fff, 1272px 31px #fff, 1056px 807px #fff, 1182px 943px #fff,
    1267px 477px #fff, 497px 80px #fff, 450px 1938px #fff, 271px 1230px #fff,
    1593px 857px #fff, 664px 1995px #fff, 1498px 833px #fff, 763px 1586px #fff,
    1589px 975px #fff, 1554px 84px #fff, 547px 612px #fff, 1980px 720px #fff,
    646px 1052px #fff, 1306px 1397px #fff, 548px 673px #fff, 184px 262px #fff,
    560px 443px #fff, 1730px 832px #fff, 602px 823px #fff, 1091px 1509px #fff,
    561px 319px #fff, 1013px 785px #fff, 688px 1317px #fff, 1546px 145px #fff,
    1650px 665px #fff, 474px 450px #fff, 431px 1976px #fff, 1642px 516px #fff,
    997px 1706px #fff, 398px 52px #fff, 684px 1821px #fff, 1057px 1887px #fff,
    1780px 670px #fff, 769px 103px #fff, 726px 404px #fff, 375px 1598px #fff,
    399px 692px #fff, 1500px 10px #fff, 1970px 390px #fff, 1781px 348px #fff,
    1403px 1452px #fff, 202px 1874px #fff, 758px 1328px #fff, 139px 563px #fff,
    1502px 1997px #fff, 148px 1232px #fff, 1930px 977px #fff, 902px 998px #fff,
    331px 1739px #fff, 1879px 1471px #fff, 276px 227px #fff, 358px 704px #fff,
    387px 123px #fff, 1294px 1618px #fff, 1542px 1212px #fff, 807px 530px #fff,
    1059px 1267px #fff, 1260px 340px #fff, 1040px 1668px #fff, 23px 1457px #fff,
    1019px 599px #fff, 605px 1827px #fff, 1161px 849px #fff, 507px 366px #fff,
    1249px 1858px #fff, 1255px 28px #fff, 672px 1288px #fff, 1992px 115px #fff,
    876px 1064px #fff;
  animation: animStar 150s linear infinite;
}

stars-3::after {
  display: block;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 751px 1868px #fff, 412px 1163px #fff, 1393px 1447px #fff,
    1095px 816px #fff, 1349px 1816px #fff, 1566px 715px #fff, 630px 707px #fff,
    1206px 1989px #fff, 148px 356px #fff, 961px 819px #fff, 549px 1261px #fff,
    286px 1269px #fff, 1070px 1220px #fff, 832px 782px #fff, 1281px 1007px #fff,
    1640px 1617px #fff, 183px 164px #fff, 409px 395px #fff, 636px 193px #fff,
    1209px 489px #fff, 1770px 177px #fff, 1046px 1187px #fff, 166px 1472px #fff,
    228px 1837px #fff, 1080px 1010px #fff, 1573px 364px #fff, 1355px 936px #fff,
    1045px 1629px #fff, 1272px 31px #fff, 1056px 807px #fff, 1182px 943px #fff,
    1267px 477px #fff, 497px 80px #fff, 450px 1938px #fff, 271px 1230px #fff,
    1593px 857px #fff, 664px 1995px #fff, 1498px 833px #fff, 763px 1586px #fff,
    1589px 975px #fff, 1554px 84px #fff, 547px 612px #fff, 1980px 720px #fff,
    646px 1052px #fff, 1306px 1397px #fff, 548px 673px #fff, 184px 262px #fff,
    560px 443px #fff, 1730px 832px #fff, 602px 823px #fff, 1091px 1509px #fff,
    561px 319px #fff, 1013px 785px #fff, 688px 1317px #fff, 1546px 145px #fff,
    1650px 665px #fff, 474px 450px #fff, 431px 1976px #fff, 1642px 516px #fff,
    997px 1706px #fff, 398px 52px #fff, 684px 1821px #fff, 1057px 1887px #fff,
    1780px 670px #fff, 769px 103px #fff, 726px 404px #fff, 375px 1598px #fff,
    399px 692px #fff, 1500px 10px #fff, 1970px 390px #fff, 1781px 348px #fff,
    1403px 1452px #fff, 202px 1874px #fff, 758px 1328px #fff, 139px 563px #fff,
    1502px 1997px #fff, 148px 1232px #fff, 1930px 977px #fff, 902px 998px #fff,
    331px 1739px #fff, 1879px 1471px #fff, 276px 227px #fff, 358px 704px #fff,
    387px 123px #fff, 1294px 1618px #fff, 1542px 1212px #fff, 807px 530px #fff,
    1059px 1267px #fff, 1260px 340px #fff, 1040px 1668px #fff, 23px 1457px #fff,
    1019px 599px #fff, 605px 1827px #fff, 1161px 849px #fff, 507px 366px #fff,
    1249px 1858px #fff, 1255px 28px #fff, 672px 1288px #fff, 1992px 115px #fff,
    876px 1064px #fff;
}

stars-title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 0.625rem;
  margin-top: -3.75rem;
  padding-left: 0.625rem;
}

stars-title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}
