/* MARK: LINKS
*/
/*
/* rounded corner for MAIN */
/* nav:not(:has(#radio01:checked))~main {
  border-radius: var(--border-radius);
} */



hr {
  margin: 1rem 0;
  border: solid 0.0625rem rgba(0, 0, 0, 0.1);
}

/* aside {resize: var(--aside-resize-v);} */

main p,
aside p {
  /* margin-block-end: 1lh; */
  padding: 0 1rem 1rem;
}

a {
  color: rgba(var(--txt-link), 0.7);
  text-decoration: none;

  box-shadow: 0 1px 0 rgba(0, 255, 255, 0.0);
}

a:hover {
  color: rgba(var(--txt-link), 1.0);
  box-shadow: 0 1px 0 rgba(var(--txt-link), 1.0);
}
