/* https://adactio.com/journal/21896 */
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

:root {
  --transition-behavior: allow-discrete;
  --transition-duration: 250ms;
  --transition-property: visibility, opacity, display, transform, background, background-color, border-color, color;
  --transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
}

/* Accessibility feature */
@media (prefers-reduced-motion) {
  * {
    transition-duration: 0ms;
  }
}

@starting-style {
  * {
    visibility: hidden;
    opacity: 0;
  }
}

*,
* * {
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-behavior: var(--transition-behavior);
}

/* https://html-css-tip-of-the-week.netlify.app/tip/interpolate-size/
https://12daysofweb.dev/2024/calc-size-and-interpolate-size/ */
:root {
  interpolate-size: allow-keywords;
}

/* https://www.bram.us/2025/01/29/view-transitions-page-interactivity/ */
@layer view-transitions {

  /* Don’t capture the root, allowing pointer interaction while elements are animating */
  @layer no-root {
    :root {
      view-transition-name: none;
    }

    ::view-transition {
      pointer-events: none;
    }
  }
}

/* MARK:ARTICLE
*/
main article {
  transition: opacity var(--transition-duration) allow-discrete;
}



/* MARK: ASIDE
*/
aside {
  transition: width var(--transition-duration) allow-discrete, opacity var(--transition-duration) allow-discrete;
}

/* MARK: BUTTONS
*/
button {
  transition: background-color var(--transition-duration);
}

a {
  transition: all var(--transition-duration);
}

off-line p {
  transition: all var(--transition-duration);
}

main article ul:last-of-type {
  overflow-x: auto;
  scroll-snap-type: y mandatory;
}

main article ul:last-of-type > * {
  grid-template-columns: auto;
  scroll-snap-align: start;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
